.home-page {
    width: 100%;
    height: 100vh; /* để container trở thành vùng cuộn riêng của trang Home */
    object-fit: cover;
    object-position: center;
    margin-top: 20px;
    overflow-y: auto; /* cho phép cuộn */
    -ms-overflow-style: none; /* IE và legacy Edge */
    scrollbar-width: none; /* Firefox */
}

/* Ẩn scrollbar cho Chrome/Edge/Safari */
.home-page::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.homeimg-container {
    width: 100%;
    position: relative;
    margin: 60px auto;
}

.homeimg-hidden {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0;
    pointer-events: none;
}

.homeimg-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.button_shop_now {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff000000;
    cursor: pointer;
}

.button_shop_now_desktop {
    top: 67.7%;
    width: 17%;
    height: 8%;
}

.button_shop_now_mobile {
    top: 67.7%;
    width: 49%;
    height: 8%;
}

@media (max-width: 1024px) {
    .homeimg-container {
        margin: 0px auto;
    }
}