.home-page {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-top: 20px;
}
.homeimg {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 60px auto;
}