.chat-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 16px;
    /* min-height: calc(100vh - 140px); */
    /* height: 86vh; */
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
    gap: 8px;
    /* background: #c8c8c8; */
}

@media (max-width: 740px) {
    .chat-container {
        padding: 0;
    }
}