.app-main {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 20px; */
  height: 86vh; /* cho phép cuộn trong app-main */
  overflow-y: auto;
  -ms-overflow-style: none; /* IE/legacy Edge */
  scrollbar-width: none; /* Firefox */
}

/* Ẩn scrollbar cho Chrome/Edge/Safari */
.app-main::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media (max-width: 1024px) {
  .app-main {
    height: 100vh;
  }
}

/* Tránh nội dung bị che bởi bottom-nav trên mobile */
@media (max-width: 1024px) {
  body.has-bottom-nav .app-main {
    padding-bottom: 80px;
  }
}